$color-primary-medium: rgb(35, 51, 35);
$color-primary-light: rgb(83, 91, 161);
$color-primary-dark: rgb(31, 53, 87);
$default-secondary-dark: rgb(135, 179, 162);
$default-secondary-darkish: rgb(26, 34, 102);
$default-secondary-light: rgb(149, 180, 233);
$default-font-size: 1.6rem;